{% extends "admin/layout/app.html.twig" %}

{% block title %}Edit Product{% endblock %}

{% block body %}
  <h1 class="mt-4 h3 mb-3 font-weight-normal">Edit Product</h1>
  <ol class="breadcrumb mb-4">
    <li class="breadcrumb-item">
      <a href="{{ path('product_index') }}">Product</a>
    </li>
    <li class="breadcrumb-item active">Edit Product</li>
  </ol>

    {{ include('admin/product/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('admin/product/_delete_form.html.twig') }}
{% endblock %}
{% block script %}
<script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
<script>
    $(document).ready(function () {
        bsCustomFileInput.init()
    })
</script>
{% endblock %}