{% extends 'base.html.twig' %}

{% block title %}
  Success
{% endblock %}

{% block body %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{{ path('home') }}">Home</a>
      </li>
        <li class="breadcrumb-item active" aria-current="page"> Account</li>
    </ol>
  </nav>
{% endblock %}