<footer class="py-4 bg-primary  mt-5">
  <div class="container px-4">
    <div class="d-flex align-items-center justify-content-between small">
      <div class="text-white">Copyright &copy; Online Store {{ "now"|date("Y") }}</div>
      <div>
        <a href="#" class="text-white">Privacy Policy</a>
        &middot;
        <a href="#" class="text-white">Terms &amp; Conditions</a>
      </div>
    </div>
  </div>
</footer>
